body{
    background: linear-gradient(to right, blue, white, red);
}

a:link
{
    font-weight:normal;
    text-decoration:none;
    color: black;
}

nav a{
    margin-left: 50px;
    font-size: 1.2em;
}
